<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cubed Graphics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/3b5d9d5cd5.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" type="image/ico" href="img/favicon/favicon-32x32.png"/>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cubed Graphics</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">

            <li class="dropdown">

            </li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/references">References</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- MAIN CONTENT HERE -->
  <%- defineContent('hero') %>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer>
    <div id="social">
      <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <a target="_blank" href="http://www.icountydurham.co.uk/search/?q=cubed+graphics">
            <img src="img/social-media/county-durham-low.png" class="img-responsive" alt="Responsive image">
          </div>
          <div class="col-md-2">
            <a target="_blank" href="https://www.facebook.com/cubedgraphics">
              <img src="img/social-media/facebook.png" class="img-responsive" alt="Responsive image">
            </a>
          </div>
          <div class="col-md-2">
            <a target="_blank" href="https://twitter.com/cubedgraphics">
              <img src="img/social-media/twitter.png" class="img-responsive" alt="Responsive image">
            </a>
          </div>
          <div class="col-md-2">
            <a target="_blank" href="https://www.instagram.com/cubedgraphics/">
              <img src="img/social-media/insta.png" class="img-responsive" alt="Responsive image">
            </a>
          </div>
          <div class="col-md-2">
            <a target="_blank" href="https://cubedgraphics.appsme.com/app/cubed-graphics/cubed-graphics-thinking-outside-of-the-box">
              <img src="img/social-media/appsme.png" class="img-responsive" alt="Responsive image">
            </a>
          </div>
          <div class="col-md-1">
          </div>

        </div>
      </div>
      <div id="copyright">
        <h6>Cubed Graphics - Copyright &copy; 2017</h6>
      </div>
      <div id="terms">
        <a href="/terms"  <h6>Our terms and conditions</h6> </a>
      </div>
    </footer>
  </div>
</body>

</html>
