<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
    <img src="/img/headers/about-us.jpg" class="img-responsive" alt="Responsive image">
  </div>
  </div>
</section>

<%- contentFor('body') %>


<div class="jumbotron text-left">
  <div class="jumbo-text">
    <div class="about">
  <p>

  The company was set up in November 2010 by Ben Jolly.
  He is a firm believer that good design work can make a huge difference to everything, whether it’s getting a message across,
  building a brand or motivating people, it’s a way of communicating and connecting with people on all levels.<br/>
  <br/>

  We have many years of combined experience and our zest for artistic creation make us the ideal partner for all of your company's marketing,
  design and/or print needs. It is important to us to speak with our clients in detail to be able to create something truly unique for your business
  or personal needs.<br/>
  </br>

  We encourage feedback since it is always incorporated into our work moving forward.
  </br>
</p>
</div>
</div>
