<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
    <img src="/img/headers/about.jpg" class="img-responsive" alt="Responsive image">
  </div>
  </div>
</section>





<%- contentFor('body') %>

<div class="jumbotron text-center">
  <div class="jumbo-text">
    <div id="about">
  <h4>    The company was set up in November 2010 by Ben Jolly.
      He is a firm believer that good design work can make a huge difference to everything, whether it’s getting a message across,
      building a brand or motivating people, it’s a way of communicating and connecting with people on all levels.<br/>
      <br/>

    </br></h4>
  </div>
</div>

<div class="about-photos"

  <div class="row">
    <% for (user of users) { %>
      <div class="col-sm-4">
          <img src="<%= user.avatar %>" alt="" class="img-responsive">
      </div>
    <% } %>
  </div>
</div>



</div>
