<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
      <img src="/img/headers/contact-header.jpg" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</section>

<%- contentFor('body') %>

<div class="contact">

  <div class="row">
    <div class="col-sm-3">
      <img src="" alt="" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <div class="jumbotron text-center">
      <p>Our business information:</p>

      <p>Cubed Graphics</p>

      <p>Mob: 07931498794</p>



      <p>Tel: 0191 3771999</p>

      <p><a href="mailto:ben@cubedgraphics.co.uk?Subject=Hello,%20Cubed!" target="_top">ben@cubedgraphics.co.uk</a></p>
      <p><a href="mailto:studio@cubedgraphics.co.uk?Subject=Hello,%20Cubed!" target="_top">studio@cubedgraphics.co.uk</a></p>
    </div>
  </div>
  <div class="col-sm-3">
    <img src="" alt="" class="img-responsive">
  </div>
  </div>
</div>
