
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">

    <img src="/img/headers/logo-header2.png" class="img-responsive" alt="Responsive image">

</div>
  </div>
</section>

<%- contentFor('body') %>






<div class="jumbotron text-center">
  <div class="row">
    <div class="home">
      <div class="col-sm-2">
        <img src="/img/home/shout.jpg" class="img-responsive" alt="responsive image">
        <h5>We love to design and print</h5>
        <h6>Providing quality affordable design and print services</h6>
      </div>
      <div class="col-sm-2">
        <img src="/img/home/bowtie.jpg" class="img-responsive" alt="responsive image">
        <h5>Look sharp</h5>
        <h6>Make a good first impression, let us design your branding</h6>
      </div>
      <div class="col-sm-2">
        <img src="/img/home/thumbs.jpg" class="img-responsive" alt="responsive image">
        <h5>Low cost high quality</h5>
        <h6>Our prices are amongst the most competitive in the business</h6>
      </div>
      <div class="col-sm-2">
        <img src="/img/home/magnify.jpg" class="img-responsive" alt="responsive image">
        <h5>Can’t see what you want?</h5>
        <h6>Get in touch to talk over any of your design and print queries</h6>
      </div>
      <div class="col-sm-2">
        <img src="/img/home/telephone.jpg" class="img-responsive" alt="responsive image">
        <h5>Contact Us</h5>
        <h6>Email:
studio@cubedgraphics.co.uk
<br/>
<br/>
Telephone:
07931498794
or 0191 3771999</h6>
      </div>
      <div class="col-sm-2">
        <a href="https://cubedgraphics.appsme.com/app/cubed-graphics/cubed-graphics-thinking-outside-of-the-box">
        <img src="/img/home/app.png" class="img-responsive" alt="responsive image">
        <h5>Cubed Graphics App</h5>
        <h6>Download our new Cubed Graphics app here!</h6>
      </a>
      </div>
    </div>
  </div>
</div>

<div id="video">
  <video width="auto" controls>
  <source src="videos/cubed.mp4" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>
</div>

<div class="row">
<div id="latest-news">
  <div class="col-sm-8">
<!--  <div class="center-block"> -->
  <img src="/img/7-steps.png" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-sm-4">
    <a href="https://cubedgraphics.appsme.com/app/cubed-graphics/cubed-graphics-thinking-outside-of-the-box">
    <img src="/img/appsme.png" class="img-responsive" alt="Responsive image">
  </a>

  </div>
</div>
