<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <img src="img/logo.png">
  </div>
</section>

<%- contentFor('body') %>

<div class="jumbotron text-center">
  <p>An exciting North East-based company providing affordable, imaginative and innovative marketing,
     web design, design and print solutions</p>
</div>
