<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
    <img src="/img/headers/news.jpg" class="img-responsive" alt="Responsive image">
  </div>
  </div>
</section>

<%- contentFor('body') %>


<div class="news-images">
<div id="news-1">

  <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">We now have an app!</h3>
          <img src="/img/news/app-news.jpg" alt="" class="img-responsive">
          <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
      </div>

      <div class="col-sm-4">
        <h3 class="text-center">Happy to help with your queries</h3>
          <img src="/img/news/confused.jpg" alt="" class="img-responsive">
          <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
      </div>

    <div class="col-sm-4">
      <h3 class="text-center">Find a package that suits you</h3>
        <img src="/img/news/package-news.jpg" alt="" class="img-responsive">
        <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
    </div>
</div>
</div>

<div id="news2">
<div class="row">
    <div class="col-sm-4">
      <h3 class="text-center">Newest addition</h3>
        <img src="/img/news/james-news.jpg" alt="" class="img-responsive">
        <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
    </div>

    <div class="col-sm-4">
      <h3 class="text-center">Everyone loves a discount</h3>
        <img src="/img/news/discount-thumbnail.jpg" alt="" class="img-responsive">
        <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
    </div>

  <div class="col-sm-4">
    <h3 class="text-center">Thanks Castle Eden CC</h3>
      <img src="/img/news/cricket-news.jpg" alt="" class="img-responsive">
      <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
  </div>
</div>
</div>


<div id="news-3">
<div class="row">
    <div class="col-sm-4">
      <h3 class="text-center">Find us on Instagram</h3>
        <img src="/img/news/insta-bubble.jpg" alt="" class="img-responsive">
        <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
    </div>

    <div class="col-sm-4">
      <h3 class="text-center">Find us on Facebook </h3>
        <img src="/img/news/facebook-bubble.jpg" alt="" class="img-responsive">
        <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
    </div>

  <div class="col-sm-4">
    <h3 class="text-center">Find us on Twitter</h3>
      <img src="/img/news/twitter-bubble.jpg" alt="" class="img-responsive">
      <button type="button" class="btn btn-primary btn-lg btn-block">Read More</button>
  </div>
</div>
</div>
</div>
