<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
      <img src="/img/headers/references.jpg" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</section>

<%- contentFor('body') %>

<div class="jumbotron text-left">
  <div class="jumbo-text">
    <div id="about">
      <h2>   Everyone loves a happy customer, so we thought we'd share some of ours. We encourage any type of constructive
        feedback, since it is always incorporated into our work moving forward. Customer loyalty is priceless to us here at Cubed Graphics.
      </h2>

          </div>
        </div>
      </div>

<div id="ref-images">
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref1.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref2.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref3.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref4.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref5.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref6.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="ref-images">
        <div class="row">
          <div class="col-sm-12">
            <img src="/img/references/ref7.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
