<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
    <img src="/img/headers/references.jpg" class="img-responsive" alt="Responsive image">
  </div>
  </div>
</section>

<%- contentFor('body') %>
