<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <div class="center-block">
      <img src="/img/headers/skills.jpg" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-left">
  <div class="row">
    <div class="skills-text">
      <div class="col-sm-12">
        <h2>Cubed Graphics are specialists who can handle a wide range of jobs and will provide
          a comprehensive one-stop solution for all of your design and print needs.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="skills">
    <div class="center-block">

      <img src="/img/skills.jpg" class="img-responsive" alt="Responsive image">
    </div>
  </div>
