<%- contentFor('hero') %>
<div class="jumbotron text-left">
  <div class="row">
    <div class="terms-text">
      <div class="col-sm-12">
        <h2>Our terms and conditions</h2>
<h4>
Legal Notice
<br/>
<br/>

These Terms and Conditions apply to
the Agreement between us pursuant to which we, Cubed Graphics ("the
Company") of 1 Grange Way, Bowburn, Durham, DH65PL shall provide the goods
and services pursuant to your acceptance of the quotation provided [by agreeing
this quotation you have accepted an order of goods set out in the quotation and
agreed to be bound by the Contract including these Terms and Conditions
("Terms")]
<br/>
<br/>

Within these Terms, the following
expression shall have the following meanings:
<br/>
<br/>

DEFINITIONS:
<br/>
<br/>

"Artwork Approval" - The
form of proof supplied to you and signed off by way of confirmation of
agreement of the artwork to be used within the Contract
<br/>
<br/>
"Client" - The person or
firm ordering the Goods or Services
<br/>
<br/>
"Company" – Cubed Graphics
<br/>
<br/>

"Contract" - The Order for
Goods and Services as set out in the Quotation or not further confirmed by the
Purchase Order
<br/>
<br/>
"Contract Price" - The
total of all prices set out for the Goods and Services and Carriage set out on
the Quotation as may be varied following Artwork Approval at the sole
discretion of the Company.
<br/>
<br/>
"Goods and Services" -
Shall be all those Goods and Services outlined and set out in the Quotation at
the prices set out therein or subsequently agreed following final artwork
approval.
<br/>
<br/>
"Invoice" - The final
invoice delivered to the Client by the Company at the time of delivery of the
Goods ordered.
<br/>
<br/>
"Terms and Conditions" -
These terms herein
<br/>
<br/>
General
<br/>
<br/>

3.1 A Contract shall be created between the Company and the Client upon
a written Quotation being accepted by the Client
<br/>
<br/>
Contract Price
<br/>
<br/>

4.1 The full price payable for the Contract shall be as quoted on the
Quotation subject to the Company reserving the right to vary such prices according
to any further requirements by the Client pursuant to the Artwork Approval and
subject to extra charges for any further or extra artwork required over and
above that stipulated on the Quotation. Any such variation shall be advised by
the Company in writing.
<br/>
<br/>

4.2 The Contract Price may vary within a 10% range according to the
actual quantities delivered, being either plus or minus 10% of the amount
ordered. The Client accepts that the eventual Invoice may reflect the Contract
Price plus or minus 10% of the amount ordered.
<br/>
<br/>

4.3 The charge for carriage of the Goods is at cost to the Client and
over and above the amount for the Goods ordered and set out in the Quotation
unless otherwise stated.
<br/>
<br/>

4.4 All prices set out in the Quotation are exclusive of VAT which shall
be charged at the current rate.
<br/>
<br/>

Terms of Payment
<br/>
<br/>

5.1 All invoices are payable within 30 days of the date of the Invoice.
<br/>
<br/>

5.2 If payment is not made on the due date set out above, interest may
be charged at the rate of 4% above Base Rate prevailing at the time.
<br/>
<br/>

5.3 A deposit may be required at the sole discretion of the Company and
payable at the time of acceptance of the Quotation under clause 3.1
<br/>
<br/>

Title and Risk to Goods
<br/>
<br/>

6.1 Risk passes to the Client immediately upon delivery of the Goods. However,
the Goods remain the property and title remains in the Company until payment
has been made in full under the Contract.
<br/>
<br/>

6.2 Until title of Goods has passed, the Client shall hold the Goods as
bailee for the Company. In addition to any rights of tracing, the Company shall
be beneficially entitled to the proceeds of sale of the Goods which shall be
assigned to the Company. In addition to those rights of tracing, the Company
may enter the Client's premises or under the premises under the Client's
control in order to recover the Goods [and shall have the right to resell such
Goods.]
<br/>
<br/>
Delivery
<br/>
<br/>

7.1 The Company will make every effort to achieve any quoted delivery
dates and execute any obligations set out in the Quotation but will not be
under any liability if delivery is delayed or prevented by events beyond their
control. For the avoidance of doubt, time shall not be considered of the
essence under the Contract.
<br/>
<br/>
Liability
<br/>
<br/>

8.1 The Company accepts no responsibility whatsoever for any
inconsequential loss or indirect damage resulting from the Contract.
<br/>
<br/>

8.2 If goods are received by the Client in any way damaged upon
delivery, the Client must advise the Company within 24 hours of delivery of the
nature of the damage and must retain the Goods as delivered.
<br/>
<br/>

8.3 The maximum extent of the Company's liability for damaged Goods will
be, at its sole discretion, a return of the Contract Price or replacement of
the Goods depending on the circumstances.
<br/>
<br/>
Cancellation
<br/>
<br/>

9.1 No Contract may be cancelled as of right following signing of the
Quotation. At the Company's sole discretion, a Contract may be cancelled either
wholly or in part subject to timing.
<br/>
<br/>

Inability to Deliver
<br/>
<br/>

10.1 If for any reason the Client refuses to accept delivery of the
Goods, then the Company reserves the right to charge for any costs incurred for
storage, additional handling or transport charges.
<br/>
<br/>

10.2 The Company does not offer any guarantee whatsoever with regard to
the Goods unless specifically agreed otherwise and stated on the Quotation.
<br/>
<br/>
THE COMPANY'S OBLIGATIONS
<br/>
<br/>
In consideration of the customer paying sums
due to the company under the contract the company will:
<br/>
<br/>

11.1 Perform the service(s) specified in the quotation on the input
provided. The company will in no way guarantee the results of any campaign or
piece of activity.
<br/>
<br/>

11.2 Send the output and carry out the customer's instructions regarding
input provided.
<br/>
<br/>
Miscellaneous
<br/>
<br/>

12.1 These terms, the Quotation and any other document specifically referred
to in any of those documents shall constitute the Contract and entire agreement
between the parties and supersede any previous agreement or understanding.
<br/>
<br/>

12.2 Any notice required to be given to either party shall be addressed
in writing to the Company at its registered office appearing above and to the
Client at the address details given on the Quotation.
<br/>
<br/>

12.3 No failure or delay by the Company in exercising any of its rights
under these Terms shall be deemed a waiver of that right. No waiver by the
Company of any breach shall be considered a waiver of any subsequent breach.
<br/>
<br/>

12.4 If any provisions of these Terms are unenforceable, such provision
shall be severed from the agreement and the remainder of the provisions shall
remain in full force and effect.
<br/>
<br/>

12.5 These Terms shall be construed in accordance with English Law and
the parties submit to the non-exclusive jurisdiction of the English Courts.
<br/>
<br/>

12.6 The Contracts (Rights of Third Parties) Act 1999 shall not apply to
this agreement.
<br/>
<br/>

12.7 The Company may assign its rights and obligations under these Terms
and in particular may use the services of Associates, but the Client may not
assign its rights or obligations under this agreement without the express
written consent of the Company.
.</h4>
</div>
</div>
</div>
</div>

<%- contentFor('body') %>


<div class="skills">
  <div class="center-block">

  <img src="/img/benjolly.png" class="img-responsive" alt="Responsive image">
</div>
</div>
